.cartTitle {
    color: white;
}

.prodName {
    font-size: 20px;
    
}

.fotoCart {
    width: 20%;
}

.btnTrash {
    color: white;
    font-size: 25px;

}

.btnTrash:hover {
    color: rgb(233, 167, 27);
}

.headerTable {
    background-color: black;
    color: white;
}

.gifWaiting {
    width: 30%;
}

.totalCountContainer {
    
    background-color: black;
    color: white;
    bottom: 0;

}

.formContainer{
    background-color: #F0A912;
    width: 80%;
}
