.width-10 {
    width: 10%;
}

.buttonGoogle {
    background-color: rgb(19, 19, 110);
    color: white;
    border: none;
    margin: 10px;
    padding: 10px;
}

.AuthTitle {
    font-size: 25px;
    padding-top: 30px;
}