.homeHero {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.imgHomeHero {
position: relative;
width: 80%;
}

.buttonHome {
    margin-top: 2rem;
}

.categoryCard {
    background-color: burlywood;
    width: 250px;
   height: 250px;
    margin: 1rem;
    border-radius: 30px;
}

.titleCategory {
    color: #1D1C2C;
    font-size: 22px;
    padding: 1rem 0; 
}

.categoryCard:hover {
    background-color: rgb(173, 138, 92);
}

.dataHomeHero {
    top: 160px;
}

.categoryTitle {
   color:  rgba(251,142,33,1);
}

.imgCard {
    width: 80%;
}

@media (max-width: 1024px) {
    .dataHomeHero {
        top: 15px;
    }

    .homeTitle {
        font-size: 15px;
    }
}