.navContainer {
    background: linear-gradient(16deg, rgba(251, 142, 33, 1) 0%, rgba(236, 171, 33, 1) 49%, rgba(245, 167, 0, 1) 100%);
}

.green {
    color: green;
}

.logoNav {
    width: 70px;
}

.tituloNav {

    font-size: 30px;
     font-family: 'Outfit', sans-serif;
    align-self: center;
    justify-content: center;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.d-flexCenter {
    margin: 0 auto;
}


.nav-link {
    color: white;
    font-size: 20px;
  }

  .btn-outline-success {
      color: rgb(233, 167, 27);
      border-color: rgb(233, 167, 27);
  }

  .btn-outline-success:hover {
    background-color: rgb(233, 167, 27);
    color: black;
    border-color:black
    
}

.cartItem {
    align-self: center;
}

.form-control2 {
    width: 400px;
    padding: 8px;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: chocolate;
}

.navbar {
    /* background-color: rgb(233, 167, 27); */
    padding-top: 2px;
    padding-bottom: 2px;
}

.header, .search {
    margin-left: 1rem;
     margin-right: 1rem;
}

.cantidadItem {
    background-color: black;
    color: rgb(233, 167, 27);
    width: 20px;
    font-size: 14px;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    margin-left: 35px;
}

.searchForm {
    padding-top: 1rem;
}

@media (max-width: 1024px) {
    .form-control2 {
        width: 100%;
        
    }}
