.footerContainer {
    margin-top: 2rem;
    background-color: black;
    color: white;
    text-align: left;
}

h4 {
    font-weight: normal;
    font-size: 20px;
}
li {
    list-style: none;
}
.linkFooter {
   color: white;
   text-decoration: none;
}

.footerList1 {
    padding: 2rem
}

a {
    color: white;
}
a:hover {
    color: #F0A912;
}