.buttonCount {
    background-color: rgb(233, 167, 27);
    padding: 5px 15px;
    margin: 0px 10px ;
    border-radius: 20px;
    border-style: none;
    font-weight: bolder;
    font-size: 20px;

}

.buttonCount:hover {
    background-color: black;
    color: rgb(233, 167, 27);
}

.count {
    color: black;
}